<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- <add key="OpenSteamClient Github Nuget" value="https://raw.githubusercontent.com/OpenSteamClient/nuget/master/index.json" /> -->
    <!-- Remove the below line when you copy this project, it's only for CMakeBuildTask developers -->
    <add key="local" value="../artifacts/package/" />
  </packageSources>
</configuration>